{{ define "vpnperedit.html" }}


{{ template "header" }}




    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_Account" class="layui-form-label">
                            <span class="x-red">*</span>账号</label>
                        <div class="layui-input-inline">
                            <input type="text" value="{{.VpnAccount}}" readonly="readonly"   id="L_Account" name="account" required="" lay-verify="account" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>修改权限的账号!</div></div>
                 <!--   <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_username" name="username" required="" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
                    </div>
                    -->








               
                    <!-- <div class="layui-card"> -->
                       
                          
                             <div class="layui-form-item x-city" id="L_DomainGroup">
                             <label for="input_DomainGroup" class="layui-form-label">
                            <span class="x-red">*</span>权限组</label>
                              <div class="layui-input-inline">
                                <select   id="input_DomainGroup">
                                     <!-- <select name="province" lay-filter="province" id="input_DomainGroup"> -->
                                
                                </select>
                              </div>
                               <div class="layui-form-mid layui-word-aux">域名组选择!</div>
                    </div>
           




                <!-- 多选框 -->

               
                              


              




                  <!--   <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="pass" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">6到16个字符</div></div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>
                    </div> -->
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">确认修改</button></div>
                </form>
            </div>
        </div>








        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                   // nikename: function(value) {
                     //   if (value.length < 5) {
                       //     return '昵称至少得5个字符啊';
                       // }
                    //},
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                function(data) {
                  //  console.log(data);
                    //发异步，把数据提交给后端
                    var L_Account = $("#L_Account").val()
                    var DomainGroup = $("#input_DomainGroup").val()

                    $.post("/api/domain/addGroupajax",{"VpnAccount":L_Account,"DomainGroup":DomainGroup},function(data){
                       if (data.code==200){
                          layer.alert("vpn账号权限组添加成功!", {
                            icon: 6
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                       } else{

                           layer.alert("vpn账号权限组添加失败!", {
                            icon: 2
                            });

                       }
                    });


                    return false;
                });

            });</script>
      



<script>
    window.onload=function(){
        $.get("/api/domain/winitgedomains",function(data){
            if(data.code == 200){
                var cres = data.data
                var opts
                for(var i =0;i<cres.length;i++){
                    opt =  cres[i]["GroupName"];
                  
                    opts = opts + '<option value=' + opt + '>' + opt +'</option>'

                  
                    // $("#input_DomainGroup").append('<option value=' + opt + '>' + opt +'</option>');
                }
                  $("#input_DomainGroup").html(opts);
                    // form.render('select');//需要渲染一下
                    layui.form.render('select');


                // alert(data.data[0]["GroupName"])
            }else{
                alert("权限组列表获取失败!")
            }
        },"json")







        // for(var i =0;i<all_option_b.length;i++){
        //         var opt = all_option_b[i];
        //         $("#locSel").append("<option value='"+opt+"'>"+opt+"</option>");
        //     }



    }

</script>


    
     
    </body>

</html>

{{ end }}