{{ define "vpnUserShowlist.html" }}


{{ template "header" }}


  <body>



<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
   <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="isAll">验证是否全选</button>  sqlbpointadd  -->
    <button class="layui-btn layui-btn-warm " onclick="xadmin.open('添加vpn用户','/rendto/vpnUserAddRender',600,400)"><i class="layui-icon"></i>添加vpn用户</button>


  </div>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">修改权限</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"> 删除 </a>
</script>


<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'/api/account/vpnUserlist'
   , method: 'post'
    , page: true //开启分页
    , limit: 10
    , limits: [30, 100, 300]
   ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: 'AdminList'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', width:10, fixed: 'left', unresize: true, sort: true,hide : true}
      ,{field:'Username', title:'vpn账号'}   <!-- edit: 'text' -->
      //,{field:'email', title:'', width:150, templet: function(res){
        //return '<em>'+ res.email +'</em>'
      //}}
      ,{field:'Lastlogins', title:'上次登录', sort: true}
     
      ,{field:'Stats', title:'状态'}
      ,{field:'LoginPlat', title:'登录平台'}
      ,{field:'LoginDura', title:'登录时长'}
      ,{field:'LoginCount', title:'登录次数'}
      ,{field:'LoginOut', title:'登出时间'}
      ,{field:'CreateTimes', title:'创建时间'}
      ,{field:'Passwd', title:'域名组'}

      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:160}
    ]]
    ,id: 'testReload'
      ,parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
     ,request: {
                    pageName: 'page' // 页码的参数名称，默认：page
                    , limitName: 'limit' //每页数据量的参数名，默认：limit
                },
  });

  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;
        if (data.length == 0){
          layer.msg('还没有选中的内容哦！', {icon: 6});
        }else{
          layer.alert(JSON.stringify(data));
        }

      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选');
      break;

      //自定义头工具栏右侧图标 - 提示
      case 'LAYTABLE_TIPS':
        layer.alert('这是工具栏右侧自定义的一个图标按钮');
      break;
    };
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;

    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
         layer.alert("删除功能还要联调openvpn,目前无法删除!")
          // $.get("/api/account/del",{"username":data.Username},function(data){
          //     if(data.code==200){
          //         layer.alert("账号删除成功!")
          //          obj.del();
          //          layer.close(index);
          //     }else{
          //           layer.alert("账号删除失败!")
          //     }

          // })

      });
    } else if(obj.event === 'edit'){
        layer.open({
        type: 2,
        area: ['600px', '350px'],
        fixed: false, //不固定
        maxmin: true,
        content: '/rendto/vpnperender?username='+ data.Username  //vpn账号权限更改也买你
});

    }
  });
});




var $ = layui.$, active = {
    reload: function(){
      var demoReload = $('#demoReload');

      //执行重载
      table.reload('testReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          key: {
            id: demoReload.val()
          }
        }
      }, 'data');
    }
  };

  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });


</script>
  </body>
</html>

{{ end }}




