<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>😉比邻vpnAudit管理平台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../assets/css/font.css">
        <link rel="stylesheet" href="../assets/css/xadmin.css">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="../assets/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../assets/js/xadmin.js"></script>


      <style type="text/css">
          *{padding: 0;margin: 0;}
          #timeShow{
              box-sizing: border-box;
             width: 50px;
             height: 100px;
             padding-top: 30px;
              color: #009688;
             border-radius: 5px;
             margin: 10px auto;
             text-align: center;
             font-size: 14px;
             font-family: cursive;
           font-weight: bold;
        }
    </style>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎登录:
                                <span class="x-red"> </span>！当前时间:<span id="timeShow"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">vpnAudit数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>ns</h3>
                                        <p>
                                            <cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>deployment</h3>
                                        <p>
                                            <cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>pod</h3>
                                        <p>
                                            <cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>运行中</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>异常数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">上周
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">周</span></div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>调整
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">vpnAuditrnete 信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>版本</th>
                                        <td>1.14</td></tr>
                                    <tr>
                                        <th>服务器地址</th>
                                        <td>0.0.0.0</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>centos7</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>docker</td></tr>
                                    <tr>
                                        <th>go版本</th>
                                        <td>5.6.27</td></tr>
                                    <tr>
                                        <th>1111</th>
                                        <td>cgi-fcgi</td></tr>
                                    <tr>
                                        <th>222</th>
                                        <td>5.5.53</td></tr>
                                    <tr>
                                        <th>333</th>
                                        <td>5.0.18</td></tr>
                                    <tr>
                                        <th>444</th>
                                        <td>2M</td></tr>
                                    <tr>
                                        <th>555</th>
                                        <td>30s</td></tr>
                                    <tr>
                                        <th>666</th>
                                        <td>86015.2M</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">账号信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>Account</th>
                                        <td>Islogging</td>
                                        <td>CreateDate</td>
                                        <td>identity</td>
                                          <!--  <a href="#" target="_blank">123</a></td> -->
                                    </tr>
                                    <tr>
                                       <th>saber</th>
                                        <td>true</td>
                                        <td>2020/09/12</td>
                                        <td>admin</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">当前vpnAudit平台持续开发中,功能持续增加中</blockquote></div>
            </div>
        </div>
        </div>
    </body>
</html>








 <script type="text/javascript">
         var t = null;
         t = setTimeout(time,1000);//开始执行
         function time(){
         clearTimeout(t);//清除定时器
         var d=new Date();
         var n=d.getFullYear();
         var y=d.getMonth()+1;
         var r=d.getDate();
         var x=d.getDay();
         var h=d.getHours();
         var m=d.getMinutes();
         var s=d.getSeconds();
         var weekday=new Array(7)
             weekday[0]="日";
             weekday[1]="一";
             weekday[2]="二";
             weekday[3]="三";
             weekday[4]="四";
             weekday[5]="五";
             weekday[6]="六";
         function ling(i){
             if(i<10){
                 i = '0' + i;
             }
             return i;
         }
         document.getElementById("timeShow").innerHTML =n+"年"+ling(y)+"月"+ling(r)+"日    "+"星期"+weekday[x]+" "+ling(h)+":"+ling(m)+":"+ling(s);
         t = setTimeout(time,1000); //设定定时器，循环执行
     }
     </script>